@layer visa {
    h1 {
        color: var(--sl-color-accent)
    }

    /* Header */
    header.header {
        box-shadow: var(--sl-nav-shadow);

        .site-title {
            font-size: var(--sl-text-brand);
            font-weight: 600;
            color: var(--sl-color-accent);
        }

        .right-group {
            gap: var(--sl-nav-right-group-gap);

            .social-icons a,
            button {
                color: var(--sl-color-accent);
                font-weight: var(--sl-typography-anchor-font-weight);
                border-radius: var(--sl-size-rounded-pill);
                padding: 11px;

                svg {
                    color: inherit;
                    width: var(--sl-nav-right-group-icon-size);
                    height: var(--sl-nav-right-group-icon-size);
                }

                &:is(:hover, :focus-visible) {
                    opacity: 1;
                    background-color: var(--sl-color-surface-highlight);
                }
            }

            .social-icons {
                &::after {
                    content: unset;
                    height: auto;
                    border: none;
                }
                a {
                    margin: -11px;
                }
            }

            button {
                .moon,
                .sun {
                   fill: currentColor;
                }
                .sun-beams {
                    stroke: currentColor;
                    stroke-width: 2px;
                }
            }
        }
    }

    /**
   * Search
   */
    site-search {
        dialog {
            background-color: var(--sl-color-surface-2);
        }

        @media (min-width: 50rem) {
            div:has(> &) {
                justify-content: center;
            }
        }

        @media (min-width: 72rem) {
            div:has(> &) {
                max-width: calc(var(--sl-content-width));
            }
        }
    }

    /* Sidebar */
    .sidebar-pane {
        border-inline-end: 1px solid var(--sl-color-hairline);
    }

    /**
   * Sidebar
   */
    .sidebar-pane {
        border-inline-end: 1px solid var(--sl-color-gray-5);

        summary {
            flex-direction: row-reverse;
            gap: 0.375rem;
            justify-content: start;
            padding: 0.2em var(--sl-sidebar-item-padding-inline);
            padding-inline: calc(var(--sl-sidebar-item-padding-inline) / 2) var(--sl-sidebar-item-padding-inline);

            &:is(:hover, :focus-visible) {
                &,
                & .large {

                }
            }

            &:is(:hover, :focus-visible) + ul > li {
                border-inline-start-color: var(--sl-color-gray-0);
            }
        }

        ul ul li {
            margin-inline-start: calc(var(--sl-sidebar-item-padding-inline) + (0.625rem / 2));

            &:has(> a[aria-current='page']) {
                border-inline-start-color: var(--sl-color-gray-0);
            }

            &:has(> a:not([aria-current='page']):is(:hover, :focus-visible)) {
                border-inline-start-color: var(--sl-color-gray-2);
            }
        }

        .top-level {
            & > li + li {
                margin-block: 0;
            }

            & > li + li:has(details),
            & > li:has(details) + li:not(:has(details)) {
                margin-top: 1rem;
            }

            & > li > .large {
                color: var(--sl-color-gray-2);
                font-size: var(--sl-text-sm);
                font-weight: inherit;

                &:is(:hover, :focus-visible) {

                }
            }
        }

        a[aria-current='page'] {
            background-color: initial;
            color: var(--sl-color-text-accent);
        }
    }

    /**
     * Content
     */
    .content-panel {
        padding-top: 1rem;

        & + .content-panel {
            border-top: none;
            padding-top: 0;
        }

        h1 {
            margin-top: 0.5rem;

            @media (min-width: 72rem) {
                margin-top: 1rem;
            }
        }

        .meta {
            align-items: center;
            flex-direction: row-reverse;

            a {
                border: 1px solid var(--sl-color-gray-5);
                border-radius: 0.5rem;
                padding: 0.25rem 0.5rem;

                &:is(:hover, :focus-visible) {
                    border-color: var(--sl-color-gray-2);
                    color: var(--sl-color-gray-2);
                }
            }
        }
    }

    /**
     * Table of contents
     */
    .right-sidebar {
        border-inline-start: initial;

        @media (min-width: 72rem) {
            padding-top: calc(var(--sl-nav-height) + 1.75rem);
        }

        h2 {
            font-size: var(--sl-text-2xs);
            text-transform: var(--sl-typography-overline-text-transform);
            letter-spacing: var(--sl-text-ls-wide);
        }

        starlight-toc li {
            & > a {
                border-inline-start: 1px solid var(--sl-color-hairline-light);
                border-radius: 0;
                margin-inline-start: 0.35rem;
                padding-inline-start: calc(1rem * var(--depth) + var(--pad-inline) + 0.35rem);

                &[aria-current='true'] {
                    border-color: var(--sl-color-gray-0);

                    &:is(:hover, :focus-visible) {

                    }
                }

                &:not([aria-current='true']):is(:hover, :focus-visible) {
                    border-color: var(--sl-color-gray-2);
                }
            }
        }
    }

    /**
     * Mobile table of contents
     */
    mobile-starlight-toc {
        nav {
            -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
            background-color: var(--sl-visa-ui-header-bg-color);
            border-bottom: 1px solid var(--sl-color-gray-5);
            border-top-color: transparent;

            @media (prefers-reduced-transparency) {
                -webkit-backdrop-filter: initial;
                backdrop-filter: initial;
                background-color: var(--sl-color-black);
            }

            details summary {
                border-bottom: initial;
            }

            &:has(details[open]) {
                -webkit-backdrop-filter: initial;
                backdrop-filter: initial;
                background-color: var(--sl-color-black);
            }
        }

        .dropdown {
            border: initial;
            border-bottom: var(--border-top) solid var(--sl-color-gray-6);

            a:is(:hover, :focus-visible) {
                background-color: var(--sl-visa-ui-bg-color);
                color: var(--sl-color-gray-0);
            }
        }
    }

    /**
     * Markdown
     */
    .sl-markdown-content {
        a:not(:where(.not-content *)) {
            color: var(--sl-color-accent);
            font-weight: var(--sl-typography-anchor-font-weight);

            &:is(:hover, :focus-visible) {
                background-color: var(--sl-color-surface-highlight);
            }
        }

        code:not(:where(.not-content *)) {
            border-radius: 5px;
        }

        tr:nth-child(2n):not(:where(.not-content *)) {
            background-color: var(--sl-color-gray-7);
        }

        :is(th, td):not(:where(.not-content *)) {
            border: none;
        }

        th:not(:where(.not-content *)) {
            border-bottom: 1px solid var(--sl-color-gray-4);
        }

        td:not(:where(.not-content *)) {
            border-bottom: 1px solid var(--sl-color-gray-5);
        }

        details:not(:where(.not-content *)) {
            --sl-details-border-color--hover: var(--sl-color-gray-2);

            border-inline-start-width: 1px;
        }

        .expressive-code {
            .has-title {
                --ec-uiPadBlk: 0.375rem;
            }

            .frame.is-terminal .header {
                border-bottom: 1px solid var(--sl-visa-ui-border-color);
            }
        }
    }

    /**
     * Tabs
     */
    starlight-tabs {
        .tablist-wrapper {
            overflow-y: hidden;
        }

        ul[role='tablist'] {
            border-bottom-width: 1px;

            a[role='tab'] {
                padding-block: 0.25rem;

                &:not([aria-selected='true']):hover {
                    border-color: var(--sl-color-white);
                    color: var(--sl-color-white);
                }
            }
        }
    }

    /**
     * Cards
     */
    .card-grid.stagger {
        --stagger-height: 2.5rem;
    }

    .card {
        --sl-text-h1: var(--sl-text-4xl);
        --sl-text-h2: var(--sl-text-3xl);
        --sl-text-h3: var(--sl-text-2xl);
        --sl-text-h4: var(--sl-text-xl);
        --sl-text-h5: var(--sl-text-lg);

        border-radius: 0.5rem;
        padding: clamp(1rem, calc(0.125rem + 1.5vw), 2.5rem);

        .title .icon {
            font-size: 1.875rem;
        }
    }

    .sl-link-card {
        box-shadow: none;

        &:hover {
            background: initial;
        }

        .title {
            color: var(--sl-color-white);
        }

        .description {
            color: var(--sl-color-gray-3);
        }

        &:is(:hover, :focus-visible) .description {
            color: var(--sl-color-gray-2);
        }

        .icon {
            color: var(--sl-color-gray-2);
        }
    }

    /**
     * Asides
     */
    .starlight-aside {
        &.starlight-aside--note {
            --sl-visa-asides-bg-color: var(--sl-color-blue-low);
            --sl-visa-asides-link-color: var(--sl-color-blue-accent);
            --sl-visa-asides-link-hover-color: var(--sl-color-blue-accent-invert);
            --sl-visa-asides-table-alt-color: var(--sl-color-blue-alt);
            --sl-visa-asides-table-border-color: var(--sl-color-blue-alt-invert);
        }

        &.starlight-aside--tip {
            --sl-visa-asides-bg-color: var(--sl-color-purple-low);
            --sl-visa-asides-link-color: var(--sl-color-purple-accent);
            --sl-visa-asides-link-hover-color: var(--sl-color-purple-accent-invert);
            --sl-visa-asides-table-alt-color: var(--sl-color-purple-alt);
            --sl-visa-asides-table-border-color: var(--sl-color-purple-alt-invert);
        }

        &.starlight-aside--caution {
            --sl-visa-asides-bg-color: var(--sl-color-orange-low);
            --sl-visa-asides-link-color: var(--sl-color-orange-accent);
            --sl-visa-asides-link-hover-color: var(--sl-color-orange-accent-invert);
            --sl-visa-asides-table-alt-color: var(--sl-color-orange-alt);
            --sl-visa-asides-table-border-color: var(--sl-color-orange-alt-invert);
        }

        &.starlight-aside--danger {
            --sl-visa-asides-bg-color: var(--sl-color-red-low);
            --sl-visa-asides-link-color: var(--sl-color-red-accent);
            --sl-visa-asides-link-hover-color: var(--sl-color-red-accent-invert);
            --sl-visa-asides-table-alt-color: var(--sl-color-red-alt);
            --sl-visa-asides-table-border-color: var(--sl-color-red-alt-invert);
        }

        border: 1px solid var(--sl-color-asides-border);
        border-radius: 0.5rem;
        color: var(--sl-color-asides-text-accent);

        a {
            color: var(--sl-visa-asides-link-color);
        }

        a:is(:hover, :focus-visible) {
            color: var(--sl-visa-asides-link-hover-color);
        }

        tr:nth-child(2n) {
            background-color: var(--sl-visa-asides-table-alt-color);
        }

        td {
            border-color: var(--sl-visa-asides-table-border-color);
        }
    }

    /**
     * File tree
     */
    starlight-file-tree {
        background-color: var(--sl-visa-ui-bg-color);
        border: 1px solid var(--sl-visa-ui-border-color);
        border-radius: 0.5rem;

        .directory > details > summary:hover ~ ul {
            border-color: var(--sl-color-gray-0);
        }
    }

    /**
     * Notices
     */
    .content-panel:first-of-type p:not(:where(.sl-markdown-content *)) {
        border-radius: 0.5rem;
        padding: 1rem;

        svg {
            flex-shrink: 0;
        }
    }

    /**
     * Steps
     */
    .sl-steps > li:last-of-type::after {
        --guide-width: 1px;

        background: linear-gradient(to bottom, var(--sl-color-hairline-light), var(--sl-color-bg) 85%);
        bottom: var(--bullet-margin);
        content: '';
        inset-inline-start: calc((var(--bullet-size) - var(--guide-width)) / 2);
        position: absolute;
        top: calc(var(--bullet-size) + var(--bullet-margin));
        width: var(--guide-width);
    }

    /**
     * Badges
     */
    .sl-badge {
        --sl-badge-default-text: var(--sl-color-accent-high);
        --sl-badge-tip-text: var(--sl-color-purple-high);
        --sl-badge-caution-text: var(--sl-color-orange-high);
        --sl-badge-note-text: var(--sl-color-blue-high);
        --sl-badge-success-text: var(--sl-color-accent-high);
        --sl-badge-danger-text: var(--sl-color-red-high);

        [data-theme='light'] & {
            --sl-badge-default-bg: var(--sl-color-accent-low);
            --sl-badge-default-text: var(--sl-color-accent-high);
            --sl-badge-tip-bg: var(--sl-color-purple-low);
            --sl-badge-tip-text: var(--sl-color-purple-high);
            --sl-badge-caution-bg: var(--sl-color-orange-low);
            --sl-badge-caution-text: var(--sl-color-orange-high);
            --sl-badge-note-bg: var(--sl-color-blue-low);
            --sl-badge-note-text: var(--sl-color-blue-high);
            --sl-badge-success-bg: var(--sl-color-accent-low);
            --sl-badge-success-text: var(--sl-color-accent-high);
            --sl-badge-danger-bg: var(--sl-color-red-low);
            --sl-badge-danger-text: var(--sl-color-red-high);
        }
    }

    /**
     * Link buttons
     */
    .sl-link-button {
        padding: 0.75rem 1rem;

        svg {
            font-size: 1.25rem;
        }

        &.primary {
            background-color: var(--sl-color-accent-low);
            border: 1px solid var(--sl-color-accent);
            color: var(--sl-color-gray-0);

            &:is(:hover, :focus-visible) {
                color: var(--sl-color-gray-0);
            }
        }

        &.secondary {
            border-color: var(--sl-color-gray-2);
            color: var(--sl-color-gray-2);

            &:is(:hover, :focus-visible) {
                color: var(--sl-color-gray-0);
            }
        }

        &.minimal {
            padding-inline: 0.25rem;

            &:is(:hover, :focus-visible) {

            }
        }
    }

    /**
     * Banner
     */
    .sl-banner {
        background-color: var(--sl-color-accent-low);
        border: 1px solid var(--sl-color-accent);
        border-radius: 0.5rem;
        box-shadow: none;
        color: var(--sl-color-gray-0);
        line-height: 1.4;
        margin-block: 2rem -0.5rem;
        margin-inline: var(--sl-content-pad-x);
        max-width: var(--sl-content-width);
        padding: 1rem;
        text-align: start;
        text-wrap: initial;

        a {
            color: var(--sl-color-accent-accent);
            text-underline-offset: 0.25em;

            &:is(:hover, :focus-visible) {
                color: var(--sl-color-accent-accent-invert);
            }
        }

        @media (min-width: 72rem) {
            margin-bottom: -1rem;
            margin-inline: auto;

            [data-has-sidebar] & {
                justify-self: end;
                margin-inline: var(--sl-content-pad-x);
            }
        }
    }

}
